
<style type="text/css">

.form {
 
width: 84%;
padding-left: 200px;
}

.buisness_side_menu {
width: 190px; /*width of menu*/
float: left;
}

.buisness_side_menu .headerbar{
font: bold 13px Verdana;
color: white;
background: #606060; /*url(media/arrowstop.gif) no-repeat 8px 6px; last 2 values are the x and y coordinates of bullet image*/
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 31px; /*31px is left indentation of header text*/
}

.buisness_side_menu ul{
list-style-type: none;
list-style-image: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.buisness_side_menu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
list-style-type: none;
list-style-image: none;
}

.buisness_side_menu ul li a{
    list-style-type: none;
list-style-image: none;
font: normal 12px Arial;
color: black;
background: #E9E9E9;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.buisness_side_menu ul li a:visited{
list-style-type: none;
list-style-image: none;
color: black;
}

.buisness_side_menu ul li a:hover{ /*hover state CSS*/
list-style-type: none;
list-style-image: none;
color: white;
background: black;
}

.comity_side_li {

    width:190px;
word-wrap:break-word;
}


</style>